<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JavaScript file -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="../../pages/index/index.html"><i>Goblin Store</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../pages/index/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../pages/shop/shop.html">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../pages/about/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../pages/contact/contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../pages/products/products.html">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../pages/checkout/checkout.html">Checkout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
