<footer class="footer-container py-3 my-4 border-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 mb-3 mb-md-0 text-center">
        <a href="../../pages/index/index.html" class="link-dark text-decoration-none">
          <img src="../../pics/logoCircle.png" alt="logo" width="75" height="75" class="d-inline-block align-text-top rounded-circle" style="max-height: 500px;">
        </a>
      </div>
      <div class="col-md-6 text-center">
        <ul class="nav justify-content-center justify-content-md-around fs-0 fs-md-5 mb-3 mb-md-0">
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/index/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/shop/shop.html">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/about/about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/contact/contact.html">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/products/products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="../../pages/checkout/checkout.html">Checkout</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-0 text-muted text-center small">
        &copy; 2022 <span>WYWM</span>
      </div>
    </div>
  </div>
</footer>
