
body, html {
  height: 100%;
}

.content {
  min-height: calc(100% - 150px); /* Adjust the value according to your footer height */
}

.footer-container {
  height: 150px; /* Adjust the value according to your footer height */
}

/* iPad */
@media (max-width: 1024px) {
  .products {
    gap: 15px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .products {
    flex-direction: column;
  }

  .product-card {
    margin-bottom: 20px;
  }
}
.card-img-top {
  max-width: 900px;
  max-height: 900px;
  object-fit: contain;
}

.card-img-top {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.05);
}
